referenced_code/WATS Client API/Core/Reporting/WATSFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="watsfilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="top">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="order">
                <xs:complexType>
                  <xs:attribute name="by" type="xs:string" use="required" />
                  <xs:attribute name="dir" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="count" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="userroles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="role">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="serialnumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="serialnumber">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="partnumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="partnumber">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="productgroups">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="productgroup">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="station">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sockets">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="socket">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sites">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="site">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="revisions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="revision">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="batchnumbers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="batchnumber">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="operations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="operation">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="repairtypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="repairtype">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="statuses">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="status">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sequencefilenames">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="sequencefilename">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sequenceversions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="sequenceversion">
                <xs:complexType>
                  <xs:attribute name="limit1" type="xs:string" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="limit2" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="miscDesc" type="xs:string" />
        <xs:element name="misc" type="xs:string" />
        <xs:element name="datetime">
          <xs:complexType>
            <xs:attribute name="from" type="xs:string" use="required" />
            <xs:attribute name="to" type="xs:string" use="required" />
            <xs:attribute name="islocal" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="yield">
          <xs:complexType>
            <xs:attribute name="type" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="periodgrouping">
          <xs:complexType>
            <xs:attribute name="type" type="xs:int" use="required" />
            <xs:attribute name="count" type="xs:int" use="required" />
            <xs:attribute name="includecurrent" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="repairedunits">
          <xs:complexType>
            <xs:attribute name="type" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="unitphases">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="unitphase">
                <xs:complexType>
                  <xs:attribute name="enum" type="xs:short" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="unitstates">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="unitstate">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:int" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="appraisers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="appraiser">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="docount" type="xs:boolean" use="required" />
      <xs:attribute name="maxcount" type="xs:int" use="required" />
      <xs:attribute name="mincount" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>