referenced_code/WATS Client Configurator/SupportFiles/Deploy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.virinco.com/WATS/Wats-Client/Deployment.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WATSIntegration">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Product">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" minOccurs="0" name="CopyFolder">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element maxOccurs="unbounded" name="File">
                        <xs:complexType>
                          <xs:attribute name="path" type="xs:string" use="required" />
                          <xs:attribute name="action" type="xs:string" use="required" />
                          <xs:attribute name="backup" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Folder">
                        <xs:complexType>
                          <xs:attribute name="action" type="xs:string" use="required" />
                          <xs:attribute name="path" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="source" type="xs:string" use="required" />
                  <xs:attribute name="destination" type="xs:string" use="required" />
                  <xs:attribute name="backup" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="Archive">
                <xs:complexType>
                  <xs:attribute name="source" type="xs:string" use="required"/>
                  <xs:attribute name="destination" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="ModifyINI">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="set-value">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="section" type="xs:string" use="required" />
                            <xs:attribute name="key" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="original-value">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="section" type="xs:string" use="required" />
                            <xs:attribute name="key" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ModifyXml">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="set-value">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="xpath" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" minOccurs="0" name="original-value">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="xpath" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="file" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="file" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Id" type="xs:string" use="required" />
            <xs:attribute name="State" type="xs:string" use="required" />
            <xs:attribute name="root-source" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>